language = "c"
run = "enter"
//////////////////Universidade Federal do Rio Grande do Norte///////////////
//////////////////CERES - Centro de Ensino Superior do Sérido////////////////
//////////////////DCT - Departamento de Computação e Tecnologia///////////////
//////////////////Disciplina - Programação -- DCT1106 ////////////////////////
//////////////////Projeto Sistema de Agendamento para Clínicas Médicas////////
/////////////////Orientador : Dr. Prof. Flávius Gorgônio/////////////////////
////////////////Caicó - Rio Grande do Norte - 10/2021////////////////////////

